body{
 font-size:105%
 margin: auto;
 align-content: center;
 font-family: sans-serif;
 background: #CACACA;
 position: relative;
}

h1{
  font-family: fantasy;
  margin-left: 60px;
  font-size: 400%;
}

.ulFavoriteThings{
  font-family: inherit;
  color: #00182f;
}

#my_work{
  width: 100%
}

table{
  border: 3px solid #73AD21;
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 60%
}

.mouses{
  margin-left: 70px;
  width: 20%
}

#audio_controls{
  margin-left: 200px;
}

h1 ~ ul{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 50px;
  border: 3px solid black;
  width: 20%;
  background-color: white;
}

tr > td{
  padding: 12px;
  font-size: 200%;
  color: #004D40;
}

.table_images{
  width: 100%
}

p span{
  font-size: 220%;
}
